* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  height: auto;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff2) format("woff2"), url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab-Regular.woff2) format("woff2"), url(../fonts/RobotoSlab-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condenced";
  src: url(../fonts/RobotoCondensed-Regular.woff2) format("woff2"), url(../fonts/RobotoCondensed-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --container-width: 940px;
  --container-padding-x: 15px;
  --section-padding: 70px;
  --color-light: #fff;
  --color-dark: #333;
  --color-dar-alt: #000;
  --color-gray: #939596;
  --color-green: #3E5C50;
  --color-blue: #DDE7ED;
  --color-blue-dark: #A1BFD4;
  --font-family-base: "Roboto", sans-serif;
  --font-family-secondary: "Roboto Condenced", sans-serif;
  --font-family-accent: "Roboto Slab", sans-serif;
  --transition-duration: 0.3s;
}
@media (max-width: 1023px) {
  :root {
    --section-padding: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --section-padding: 40px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.h2 {
  font-size: clamp(20px, 2.0138888889vw, 29px);
  line-height: 1.24;
  text-align: center;
}

.h3 {
  font-size: clamp(20px, 1.5277777778vw, 22px);
  line-height: 1.36;
}

.section {
  padding-block: var(--section-padding);
}

body {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  line-height: 1.4;
  font-family: var(--font-family-base);
  color: var(--color-dark);
}

a,
button,
input,
textarea {
  transition-duration: var(--transition-duration);
}

.burger-button {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  padding: 10px;
  box-sizing: content-box;
  background-color: transparent;
}
@media (max-width: 768px) {
  .burger-button {
    display: flex;
  }
}
.burger-button span {
  width: 100%;
  height: 3px;
  background-color: var(--color-dark);
  border-radius: 2px;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.menu__link {
  font-size: 15px;
  line-height: 1.5;
  color: #222;
  padding: 10px;
}

.button {
  display: block;
  font-family: var(--font-family-accent);
  font-size: 16px;
  line-height: 1.4;
  color: var(--color-light);
  padding: 13px 23px;
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: var(--color-dar-alt);
}
@media (hover: hover) {
  .button:hover {
    background-color: transparent;
    color: var(--color-dar-alt);
    border-color: currentColor;
  }
}
@media (hover: none) {
  .button:active {
    background-color: transparent;
    color: var(--color-dar-alt);
    border-color: currentColor;
  }
}
.button--transparent {
  background-color: transparent;
  color: var(--color-dar-alt);
}

.socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.socials__link {
  color: var(--color-light);
}
@media (hover: hover) {
  .socials__link:hover {
    color: var(--color-blue-dark);
  }
}
@media (hover: none) {
  .socials__link:active {
    color: var(--color-blue-dark);
  }
}
.socials__link svg {
  display: block;
}

.header {
  padding-block: 26px;
}
@media (max-width: 768px) {
  .header {
    padding-block: 16px;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.top {
  background-image: url(../images/top-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.top__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 768px) {
  .top__inner {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
.top__content {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
@media (max-width: 1025px) {
  .top__content {
    row-gap: 15px;
  }
}
@media (max-width: 768px) {
  .top__content {
    row-gap: 10px;
  }
}
.top__title {
  font-size: clamp(30px, 2.6388888889vw, 38px);
  line-height: 1.16;
  color: var(--color-light);
  font-weight: 400;
}
.top__text {
  font-size: clamp(18px, 1.3888888889vw, 20px);
  color: var(--color-light);
  line-height: 1.3;
}
.top__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.top__image {
  max-width: 460px;
  width: 100%;
}
@media (max-width: 1025px) {
  .top__image {
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .top__image {
    max-width: 420px;
  }
}

.partners {
  padding-block: 28px 38px;
  background-color: var(--color-green);
}
@media (max-width: 768px) {
  .partners {
    padding-bottom: 25px;
  }
}
.partners__inner {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .partners__inner {
    row-gap: 10px;
  }
}
.partners__title {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  color: var(--color-light);
  text-align: center;
  opacity: 0.31;
}
.partners__list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 37px;
       column-gap: 37px;
  flex-wrap: wrap;
}

.footer {
  color: var(--color-gray);
}
.footer__top {
  padding-block: 40px;
  background-color: #2B2C2E;
}
.footer__inner {
  display: flex;
  justify-content: start;
  align-items: start;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
  flex-wrap: wrap;
}
.footer__content {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media (max-width: 520px) {
  .footer__content {
    margin-right: 0;
  }
}
.footer__form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.footer__form-inner {
  display: flex;
}
.footer__form-input {
  background-color: var(--color-light);
  padding: 10px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  max-width: 193px;
  width: 100%;
}
.footer__form-input::-moz-placeholder {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  line-height: 1.4;
  font-family: var(--font-family-base);
  color: var(--color-gray);
}
.footer__form-input::placeholder {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  line-height: 1.4;
  font-family: var(--font-family-base);
  color: var(--color-gray);
}
.footer__form-button {
  font-size: 15px;
  color: var(--color-light);
  padding: 10px 15px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #5F6166;
  text-transform: uppercase;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
  max-width: 140px;
  width: 100%;
}
.footer__menu-title {
  font-family: var(--font-family-secondary);
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
  color: #E4E8EB;
  text-transform: uppercase;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer__nav-link {
  font-size: 15px;
  color: var(--color-gray);
}
@media (hover: hover) {
  .footer__nav-link:hover {
    color: var(--color-light);
  }
}
@media (hover: none) {
  .footer__nav-link:active {
    color: var(--color-light);
  }
}
.footer__bottom {
  padding-block: 20px;
  background-color: #1C1D1F;
}
.footer__copyright {
  font-size: 13px;
  line-height: 1.7;
}/*# sourceMappingURL=style.css.map */