body {
    @include fluid-text(14, 16);

    line-height: 1.4;
    font-family: $font-family-base;
    color: $color-dark;
    background-color: $color-light;
}

a,
button,
input,
textarea {
    transition-duration: $transition-duration;
}