.container {
    max-width: calc($container-width + $container-padding-x * 2);
    padding-inline: $container-padding-x;
    margin-inline: auto;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.h2 {
    @include fluid-text(20, 29);

    line-height: 1.24;
    text-align: center;
}

.h3 {
    @include fluid-text(20, 22);

    line-height: 1.36;
}