.menu {
    @include mobile {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 14px;
    }

    &__link {
        font-size: 15px;
        line-height: 1.5;
        color: #222;
        padding: 10px;
    }
}