.pricing {
    background-color: $color-blue;

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 70px;
        margin-bottom: 20px;

        @include tablet {
            row-gap: 40px;
        }
    }

    &__items {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        row-gap: 20px;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 220px;
        width: 100%;
        padding: 17px;
        background-color: $color-light;
        border-radius: 3px;
        text-align: left;

        &-title {
            @include fluid-text(18, 22);

            line-height: 1.36;
            font-weight: 400;
            color: #2B2B2B;
            margin-bottom: 15px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            padding-bottom: 16px;
            margin-bottom: 12px;
            border-bottom: 1px solid #DBDBDB;

            &-details {
                @include fluid-text(18, 20);

                line-height: 1.1;
                color: #489FD9;

                & span {
                    font-size: 14px;
                    color: #2B2B2B;
                    transform: translateY(3px);
                }
            }
        }

        &-features {
            display: flex;
            flex-direction: column;
            row-gap: 14px;
            margin-bottom: 20px;
        }

        &-feature {
            font-size: 14px;
            line-height: 1.3;
            color: #2B2B2B;

            &--disabled {
                color: #C7C5C5;
            }
        }

        &-button {
            padding: 9px;
        }
    }

    &__text {
        text-align: center;
    }
}